/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: Poppins;
  font-size: 14px;
  color: #333;
}

@media (max-width: 1199px) {
  body {
    max-width: calc(100vw - 25px);
    margin: auto;
  }
}
@media (min-width: 1200px) {
  body {
    max-width: calc(100vw - 128px);
    margin: auto;
  }
}

.faded-line:after {
  content: '';
  @apply block;
  @apply border-none;
  @apply text-white;
  @apply top-0;
  @apply absolute;
  @apply w-full;
  @apply left-0;
  @apply right-0;
  height: 0.1rem;
  background: linear-gradient(
    90deg,
    rgba(206, 217, 232, 0) 0.25%,
    rgba(206, 217, 232, 0.6) 13.13%
  );
}
